.nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.nav a,
.nav button {
    background: #eee;
    border-radius: .2rem;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    transition: .1s;
    cursor: pointer;
}

.nav a:hover,
.nav a:focus,
.nav button:hover,
.nav button:focus {
    background: white;
    box-shadow: 0 0 0 3px #eee;
    border-color: #333;
    outline: none;
}

.nav a.active {
    background: white;
    box-shadow: 0 0 0 3px #fea;
    border-color: #fb1;
}

.nav a.active svg > * {
    fill: #fb1;
}